mixin credits()
  .credits
    .subtitle Credits
    .credits-box
      .info Created By
        span
          a(target='_blank', href='http://www.dallinosmun.com') Dallin Osmun
      .info Inspired By
        span CS 5410
      .info Maze Generation Algorithms By
        span
          a(target='_blank', href='http://en.wikipedia.org/wiki/Maze_generation_algorithm') Wikipedia
      .info Color Scheme By
        span Tarah Udy
      .info Music
        span
          a(target='_blank', href='http://incompetech.com/music/royalty-free/?keywords=lemon') Easy Lemon
    .menu-item.menu-back back
