.credits
  padding: 20px

  .subtitle
    font-size: 20px
    text-align: center
    margin-bottom: 20px

  .credits-box

    .info
      padding-bottom: 20px

      span
        float: right
        width: 100px

        a
          color: blue
          text-decoration: none

          &:hover
            text-decoration: underline
