body
  background-color: $background-color

  .wrapper
    margin: 0 auto
    width: 800px

    .title
      font-size: 35px
      text-align: center
      margin: 20px 0

    .game-area
      background-color: $menu-color
      box-shadow()
      margin: 0 auto
