.settings
  padding-top: 20px

  .settings-item-container
    text-align: center

    .settings-item
      transition(all, .2s)
      display: inline-block
      padding: 15px 0
      width: 200px
      background-color: $settings-color
      cursor: pointer
      margin: 10px 0

      &:hover
        width: 300px
        background-color: $settings-color-h
        color: white
        box-shadow()
