$background-color  = rgb(25, 108, 13)
$menu-color        = rgb(79, 180, 64)
$menu-item-color   = rgb(114, 235, 114)
$menu-item-color-h = green

$scores-menu-item   = #aaa
$scores-menu-item-s = #ddd
$scores-menu-item-h = #888

$settings-color     = rgb(169, 255, 169)
$settings-color-h   = rgb(0, 119, 0)

*
  padding: 0
  margin: 0

box-shadow( x = 0, y = 0, blur = 20px, thickness = 2px, color = rgba(0, 0, 0, .5) )
  -webkit-box-shadow: x y blur thickness color
  -moz-box-shadow: x y blur thickness color
  box-shadow: x y blur thickness color

border-radius( size = 5px )
  -webkit-border-radius: size
  -moz-border-radius: size
  border-radius: size

transition( el = all, duration = 2s )
  transition: el duration
  -moz-transition: el duration
  -webkit-transition: el duration
  -o-transition: el duration
